
/* Add your profile image here */
.Photo{
    background-image: url('../images/Me2.png');
}

.project1{
    background-image: url('../images/Mouldy\ Potatoes.jpeg');
    cursor: none;    
}
.project2{
    background-image: url('../images/movies.jpeg');
    cursor: none;
}
.project3{
    background-image: url('../images/TeamProfile.png');
    cursor: none;
}
.project4{
    background-image: url('../images/Weather\ Dashboard.jpeg');
    cursor: none;
}
.project5{
    background-image: url('../images/Workday\ Scheduler.jpeg');
    cursor: none;
}
.project6{
    background-image: url('../images/budgetTracker.png');
    cursor: none;
}


.parallax{
    background-image: url('https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}